body {
  margin: 0px;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji"
}

section {
  padding: 50px 0px;
}

nav {
  top: 0;
  position: fixed;
  z-index: 2;
  /* border: 1px solid orange; */
  background-color: white;
  height: 100px;
}

nav img {
  margin-top: 15px;
  margin-left: 100px;
  width: 200px;
  height: 70px;
}

nav li {
  padding: 30px;
}


main {
  margin-top: 150px;
  /* border: 1px solid black; */
  z-index: -1;
}

.content-box {
  margin: auto;
  margin-bottom: 40px;
  width: 100%;
  box-shadow: 0px 0px 30px 0px rgba(148, 146, 245, 0.2);
  border-radius: 5px;
}

.content {
  margin: auto;
  margin-top: 100px;
  /* margin-left: 120px; */
  width: 60%;
}

h1 {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 2em;
  font-weight: bold;
  /* border: 1px solid orange; */
  padding: 50px auto;
}

.download-icons li {
  display: inline;
  padding-right: 30px;
}

.download-icons img {
  width: 200px;
  height: 70px;
}

footer {
  background-color: #333333;
  color: #cfcfcf;
  text-align: center;
  padding: 30px 20px;
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.footer div {
  margin: 0px 50px;
  text-align: left;
}

.footer ul {
  list-style-type: none;
  padding: 0px;
}

.footer div li i {
  margin-right: 10px;
  width: 10px;
}

.footer a {
  text-decoration: none;
  color: #cfcfcf;
}

.footer a:hover {
  text-decoration: none;
  color: #ffffff;
}

footer p {
  margin: 0px;
}

.google-maps {
  margin-left: 0px;
}