main {
  margin-top: 150px;
  border: 1px solid black;
}

.content-box {
  border: 1px solid pink;
  padding: 10px;
}

h1 {
  text-align: center;
}

.download-icons li {
  display: inline;
  padding-right: 30px;
}
.download-icons img {
  width: 200px;
  height: 70px;
}
