body {
  margin: 0;
}
nav {
  position: fixed;
  z-index: 999;
  border: 1px solid orange;
  background-color: white;
}

nav img {
  width: 30%;
}

main {
  margin-top: 50px;
  padding-top: 100px;
  border: 1px solid black;
}

.content-box {
  border: 1px solid pink;
  padding: 10px;
}

h1 {
  position: block;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 2em;
  border: 1px solid orange;
}

.how-does-it-help {
  border: 1px solid blue;
}

.download-icons li {
  display: inline;
  padding-right: 30px;
}
.download-icons img {
  width: 200px;
  height: 70px;
}
